.header {
    width: 100%;
    background-color: #F9FAFB;
 
}

.header__container {
    width: 80%;
    margin: 0 auto;
  
}

.header__top__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoDelivery__bar {
    display: flex;
    flex-direction: row;
}

.logoDelivery__bar h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    width: 251px;
    height: 32px;
}

.description__header__right {
    display: flex;
    flex-direction: row;
}

.description__header__right span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_phone_bar {
    display: flex;
    flex-direction: column;

}

.header_phone_bar h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
}

.header_phone_bar a {
    color: black;
}

.header_phone_bar span {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.text {
    display: inline-block;
    margin-right: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text:nth-child(1) {
    border-right: 1px solid black;
}

.header__bottom__bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.menu__header {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}


.menu__header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.btn__header {
    width: 196px;
    height: 44px;
    border-radius: 4px;
    background-color: #8B5CF6;
    color: #ffff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: #F9FAFB;
}



/* Базовые стили */
.calculate {
    width: 756px;
    height: 584px;
    margin: 0 auto;
  }
  
  .calculate__container {
    width: 80%;
    background-color: #F9FAFB;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .calculate__header {
    margin-bottom: 20px;
  }
  
  .calculate__form {
    width: 496px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между полями */
  }
  
  .form-field input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .btn_calculate {
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: #F9FAFB;
    background: #8B5CF6;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 20px;
  }
  
  /* Медиа-запросы для адаптивности */
  @media (max-width: 768px) {
    .calculate {
      width: 90%;
    }
  
    .calculate__form {
      width: 100%;
    }
  
    .form-field input {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .calculate {
      width: 100%;
    }
  
    .calculate__form {
      width: 100%;
    }
  
    .form-field input {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .btn_calculate {
      font-size: 14px;
    }
  }
  
  /* Стили для модального окна */
  .modal {
    display: block; /* Показывать модальное окно */
    position: fixed; /* Фиксировать положение */
    z-index: 1; /* Установить индекс z для модального окна */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Автоматическое центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  